* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

/* header section style starts here */
header {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  margin: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 139px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 10px;
  transition: all linear 0.3s;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: gray;
  color: #ffffff;
}

nav button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  color: #ffffff;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  transition: all linear 0.3s;
}

nav button:hover {
  background-color: #2c6343;
}
/* header section style ends here */

/* hero section style starts here */
.hero-section {
  background-image: url(/assets/hero-bg.png);
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.hero-content .early-btn {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 8px 12px;
  margin: 115px 0 16px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
}

.hero-content h1:nth-child(3) {
  color: #30b868;
}

.hero-content p {
  font-size: 18px;
  line-height: 30px;
  margin: 16px 0 32px;
}

.hero-content .hero-btn button {
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  margin: 8px;
  margin-bottom: 180px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.hero-btn button:nth-child(1) {
  background-color: #469165;
  transition: all linear 0.3s;
}

.hero-btn button:nth-child(1):hover {
  background-color: #28533a;
}

.hero-btn button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #ffffff;
  transition: all linear 0.3s;
}

.hero-btn button:nth-child(2):hover {
  border: 2px solid #2b8b5b;
}
/* hero section style ends here */

/* notes section style starts here */
.notes-section {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.notes-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 60px 0 16px;
  color: #001931;
}

.notes-section p {
  font-size: 16px;
  color: #627382;
}

.notes-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 24px 0;
}

.notes-cards .card {
  width: 322px;
  height: 300px;
  margin: 24px 0 120px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.288);
}

.notes-cards .card img {
  margin-top: 30px;
  background-color: #f95555;
  padding: 14px;
  border-radius: 100%;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}

.card p {
  font-size: 16px;
  color: #627382;
}
/* notes section style ends here */

/* brain section style starts here */
.brain-section {
  max-width: 1360px;
  margin: 0 auto 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.brain-section .brain-img img {
  width: 600px;
}

.brain-content p:nth-child(1) {
  font-size: 16px;
  color: #469165;
  font-weight: 500;
  margin-bottom: 16px;
}

.brain-content h1 {
  font-size: 48px;
  font-weight: bold;
}

.brain-content p:nth-child(3) {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  padding-right: 170px;
  margin: 16px 0 40px;
}

.brain-content ul li {
  list-style: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
/* brain section style ends here */

/* early section style starts here */
.early-section {
  max-width: 1360px;
  margin: 0 auto 120px;
  background-color: #f7f6f2;
  border-radius: 12px;
  text-align: center;
}

.early-section .early-section-content h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 80px 0 16px;
}

.early-section .early-section-content p:nth-child(2) {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  padding: 0 375px;
}

.early-section .early-section-content p:nth-child(4) {
  font-size: 16px;
  color: #627382;
  padding-bottom: 80px;
}

.early-section .early-section-content button {
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  margin-bottom: 180px;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  color: #ffffff;
  margin: 24px 0 16px;
  transition: all linear 0.3s;
}

.early-section .early-section-content button:hover {
  background-color: #265037;
}
/* early section style ends here */

/* footer section style starts here */
footer {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #001931;
  color: white;
  padding: 120px 120px 30px;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-up .footer-logo img {
  width: 128px;
}

.footer-up .footer-social p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.social-icon a {
  text-decoration: none;
  color: #000000;
  background-color: white;
  padding: 4px;
  border-radius: 100%;
  margin-right: 8px;
}

.border {
  margin: 50px 0 20px;
  border: 1px solid rgba(65, 65, 78, 0.521);
}

.footer-down p {
  text-align: center;
  color: #fafafa;
  font-weight: 16px;
}
/* footer section style ends here */
